spring:
  application:
    name: user-role-service
  config:
    import: optional:configserver:http://localhost:8081
  cloud:
    config:
      enabled: true
      uri: http://localhost:8081
  datasource:
    url: jdbc:postgresql://localhost:5432/user_role_db
    username: postgres
    password: 1234
  jpa:
    hibernate:
      ddl-auto: update

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
